body{
    background-color: rgb(223, 126, 134);
    font-family: 'Philosopher';
}
.formulaire{
    width: 50%;
    height: 150px;
    margin: auto;
    margin-top: 170px;
    display: flex;
}
.prepart{
    width: 100%;
    height: 700px;
    background: url("../images/principale.jpeg");
    background-size: cover ;
}
.prepart img{
    width:600px ;
    height:600px;
}
.prepart a{
    text-decoration: none;
   
    
}
.deuxpart{
    background-color: rgb(204, 200, 200);
    width: 100%;
    height: 700px;
    background-size: cover;
    text-align: center;
}
.logo #Mc #delices{
    margin-top: 20px;
    font-family: 'Philosopher';
    font-size: 150px;
}
#Mc{
    font-size: 30px;
    color: #D4131F;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 30px;
}
#delices{
    font-size: 30px;
    color: white;
    font-size: 50px;
    margin-left: 100px;
}

/*-----------------formulaire de connexion------------------*/

input{
    width: 350px;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 25px;
    border: 1px solid rgb(204, 200, 200);
    font-size: 20px;
}
.iconconnexion{
 margin-top: 20px;
}
.boutons{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 500px;
    margin-left: 10px;
   
    }
.boutonrose{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    border: #D3638E ;
    background-color: #D3638E;
    padding-top: 5px;
    color: white;
    font-size: 15px;
}
.boutonrose:hover{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    border:#D3638E ;
    background-color: white;
    padding-top: 5px;
    color:#D3638E  ;
    font-size: 15px;
  }