body{
    margin: 0;
    padding: 0;
    font-family: 'Philosopher';
    background-color: #DCDCDC;

}
/* entete*/
header{
    background-color: #D3638E;
    width: 100%;
    height: 80px;
}

.navbar{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Mc{
    font-size: 30px;
    color: #D4131F;
    font-family:Porter Sans Block;
}
#delices{
    font-size: 30px;
    color: white;
    font-family: Porter Sans Block;
}

.head{
display: flex;
}
.head li{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    

}
a{
    text-decoration: none;
    color: #460820;
    margin-top: 10px;
    font-family: Philosopher;
    font-size: 18px;
}
li{
    list-style-type: none;
    
}
.article1{

    background-image: url(../images/imageprincipale.jpeg);
    width: 100%;
    height: 80vh;
    background-position-y: 41%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
/************************     bouton marron       ************************/
.boutonmarron{
    width: 400px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    border:#5e2b2b ;
    background-color: #5e2b2b;
    padding-top: 10px;
    color: white;
    margin-left:800px;
    margin-top: 50px;
  }
  .boutonmarron:hover{
    width: 400px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    border:#5e2b2b ;
    background-color: white;
    padding-top: 10px;
    color:#5e2b2b  ;
    margin-left:800px;
    margin-top: 50px;
   
  }
.delice{
    width: 1600px;
    height: 100px;
    background-color: #5e2b2b;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px 50px;
    box-shadow: grey 8px 8px 8px 8px;
   
  }
.delice p{
    color: white;
    font-size: 40px;
    margin-top: 50px;
  }

.prligne{
    margin-top: 100px;
    margin-left: 130px;
    width: 80%;
    height:40% ;
    border: 2px solid greenyellow;
    display: flex;
    justify-content: space-between;
  }
.element1{
    width: 30%;
    border: #D3C4C9 2px solid;
    border-radius:#D3C4C9 100px solid;
    text-align: center;
    margin-left: 30px;
   
}
.element1 img{
    margin-top: 20px;
    height: 50%;
    
}
.basrose{
    background-color: #D3638E;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30px;
    width: 100%;
}
.imag1{
    padding-top: -30%;
    margin-left: 200px;
    
}
.cardrose{
    background-color: #D3638E;
    width: 80%;
    height: 270px;
    border-radius: 40px;
    margin-top: 120px;
    margin-left: 150px;
    display: flex;
}

.imagefamille{
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 10px;
}
 .rge{
    color: #D4131F;
    font-size: 50px;
    margin-left: 60px;
    text-align: center;
    margin-top: -1px;
}

.noterbien p{
    font-size: 45px;
    color: white;
    margin-left: 60px;
    margin-top: -10px;
    text-align: center;
}

/*--------------avant footer ------------------*/
.avantfooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #D3638E;
    margin-top: 200px;
    padding-top: 20px;
    height: 240px;
  }

  #lien{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-family: Philosopher;
    font-size: 18px;
    display: block;
}

.pieddepage{
    width: 100%;
    height: 90px;
    background-color: #5e2b2b;
    display: flex; 
    justify-content: space-around;
}
.logobas{
    margin-left: 100px;
}
.icons{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-right: 120px;
   
}
.pieddepage p{
    color: white;
    padding-top: 35px;
    margin-left: 0px;
    width: 1000px;
    margin-left: 650px;
}