body{
    margin: 0;
    padding: 0;
    font-family: 'Philosopher';
    background-color: #DCDCDC;

}
/* entete*/
header{
    background-color: #D3638E;
    width: 100%;
    height: 80px;
}

.navbar{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Mc{
    font-size: 30px;
    color: #D4131F;
    font-family:Porter Sans Block;
}
#delices{
    font-size: 30px;
    color: white;
    font-family: Porter Sans Block; 
}

.head{
display: flex;
}
.head li{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    

}
a{
    text-decoration: none;
    color: #460820;
    margin-top: 10px;
    font-family: Philosopher;
    font-size: 18px;
}
li{
    list-style-type: none;
    
}
/*---------------------corps-------------------------*/

.paniervide{
    width: 500px;
    height: 350px;
    margin-top: 6%;
    margin-left: 38%;
    text-align: center;
    background-color: #D3638E;
    border-radius: 100%;
}
.paniervide img{
    width: 250px;
    height: 200px;
    margin-top: 60px;
}
.visitepanier{
    text-align: center;
    margin-top: 50px;
}
.visitepanier h1{
    font-size: 50px;
}
.visitepanier h2{
    font-size: 30px;
}

.boutonrose{
    width: 300px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    border: #D3638E ;
    background-color: #D3638E;
    padding-top: 5px;
    color: white;
    margin-left:60px;
    font-size: 20px;
}
.boutonrose:hover{
    width: 300px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    border:#D3638E ;
    background-color: white;
    padding-top: 5px;
    color:#D3638E  ;
    margin-left:60px;
  }

/*--------------avant footer ------------------*/
.avantfooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #D3638E;
    margin-top: 200px;
    padding-top: 20px;
    height: 240px;
  }

  #lien{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-family: Philosopher;
    font-size: 18px;
    display: block;
}

.pieddepage{
    width: 100%;
    height: 90px;
    background-color: #5e2b2b;
    display: flex; 
    justify-content: space-around;
}
.logobas{
    margin-left: 100px;
}
.icons{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-right: 120px;
   
}
.pieddepage p{
    color: white;
    padding-top: 35px;
    margin-left: 0px;
    width: 1000px;
    margin-left: 650px;
}