body{
    margin: 0;
    padding: 0;
    font-family: 'Philosopher';
    background-color: #DCDCDC;

}
/* entete*/
header{
    background-color: #D3638E;
    width: 100%;
    height: 80px;
}

.navbar{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Mc{
    font-size: 30px;
    color: #D4131F;
    font-family:Porter Sans Block;
}
#delices{
    font-size: 30px;
    color: white;
    font-family: Porter Sans Block; 
}

.head{
display: flex;
}
.head li{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    

}
a{
    text-decoration: none;
    color: #460820;
    margin-top: 10px;
    font-family: Philosopher;
    font-size: 18px;
}
li{
    list-style-type: none;
    
}

.titrepanier{
    text-align: center;
    width: 100%;
    height: 10%;
    margin-left: auto;
    margin-top: 30px;
}
.titrepanier h1{
    color: #5e2b2b;
    font-size: 50px;
}
table, th, td {
    border: 2px solid grey;
    border-collapse: collapse;
    height: 50px;
  }

 th{
    background-color: #D3638E;
  }
.ligne1 img{
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
.ligne1 td{
     width: 40px;
     height:250px ;
}

.flex{
    display: flex;
    justify-content: space-around;
    margin-left: -100px;
}
.boutons{
display: flex;
}
.boutonrose{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    border: #D3638E ;
    background-color: #D3638E;
    padding-top: 10px;
    color: white;
    margin-left:800px;
    margin-top: 50px;
}
.boutonrose:hover{
    width: 400px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    border:#D3638E ;
    background-color: white;
    padding-top: 10px;
    color:#D3638E  ;
    margin-left:800px;
    margin-top: 50px;
   
  }

/*--------------avant footer ------------------*/
.avantfooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #D3638E;
    margin-top: 200px;
    padding-top: 20px;
    height: 240px;
  }

  #lien{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-family: Philosopher;
    font-size: 18px;
    display: block;
}

.pieddepage{
    width: 100%;
    height: 90px;
    background-color: #5e2b2b;
    display: flex; 
    justify-content: space-around;
}
.logobas{
    margin-left: 100px;
}
.icons{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-right: 120px;
   
}
.pieddepage p{
    color: white;
    padding-top: 35px;
    margin-left: 0px;
    width: 1000px;
    margin-left: 650px;
}